:root{
    font-family: 'Share Tech Mono', monospace;
    //color-scheme:light dark;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined.lean{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.engros{
    padding-top:30px;
    padding-bottom:30px;
    font-size: 40px;
    text-align:
    center;
    font-family: 'Press Start 2P',cursive;
    color: rgb(252 ,251, 27);
    background-color: rgb(8 155 93);
}
html, body{
    overflow-x: hidden;
}
.row{
    margin-left: 0px!important;
    margin-right: 0px!important;
}
.siteTitle{
    position: absolute;
    left:12%;
    padding-top: 5px;
    padding-bottom:5px;
}
.timeComponante input{
    max-width: 120px;
    font-size: 40px;
    display: inline-block;
    margin:auto;
    background: transparent;
    color:rgb(228, 243, 13);
    border: none;
}


#timeEditor{
    width:98%;
    height:65%;
    overflow-y: scroll;
    margin-top: 5px;
    margin-left: 1%;
    margin-right: 1%;
}

#hamburger{
    justify-content: left!important;
}
.timeHeader{
    font-family: 'Press Start 2P',cursive;
    color: rgb(228, 243, 13);
    min-height:60px;
    background-color: black;
    //margin-bottom: 60px;
    text-align: center;
    padding-top: 5px;
    padding-bottom:5px;
}
.menubar{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content:space-evenly;

}
.hour,.minute,.second{
    display: inline-block;
    margin:auto;
    border-bottom-style: dashed!important;
    border-bottom-color:rgb(228, 243, 13)!important;
}


.header {
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

.grosIcone{
    font-size:50px;
    display:flex;
    justify-content: center;
}
.notearea{
    font-family: 'Share Tech Mono', monospace; 
}
body
{
    background-color: rgb(155 145 120 / 40%);
}
.hidden{
    display:none;
}
i:hover{
    cursor:pointer;
}

.jumbotron.header{
    margin-bottom:unset;
}

.showContextMenu{
    background-color: black;
    width:100%;
    color: rgb(228, 243, 13);
}


textarea{
    background-color: white;
    color:black;
}

body.dark textarea{
    background-color: black;
    color:white;
}
    body.dark{
        color:white;
        background-color: black!important;
      }
      body.dark textarea.form-control{
          background-color: black;
          color:white;
          border-color:white;
      }
      body.dark > div.enGros{
          border-color:white;
          background-color: black;
          border-style: dashed;
    
      }
      body.dark .engros{
        background-color: black!important;
        color:rgb(228, 243, 13)
      }
    
      body.dark #timeEditor{
          background-color: black;
          border-style: dashed;
          border-width:thick;
          border-color:white;
      }


@media (max-height:720px){
    #timeEditor{
        height:50%;
    }
    .engros{
        font-size:30px;
    }
}