:root{
    font-family: 'Share Tech Mono', monospace;
}
.engros{
    font-size: 50px;
    text-align:center;
    font-family: 'Press Start 2P',cursive;
    color:rgb(228, 243, 13);
    background-color: rgb(11, 53, 18);

}
.siteTitle{
    align-content: left;
    padding-top: 5px;
    padding-bottom:5px;
}

#hamburger{
    justify-content: left!important;
}
.timeHeader{
    font-family: 'Press Start 2P',cursive;
    color:rgb(228, 243, 13);
    min-height:60px;
    background-color: black;
    //margin-bottom: 60px;
    text-align: center;
    padding-top: 5px;
    padding-bottom:5px;

}
.menubar{
    padding-top: 10px;
    padding-bottom: 10px;
}
.hour,.minute,.second{
    display:inline;
    border-bottom-style: dashed;
    border-bottom-color:rgb(131, 131, 139);
}

.selected{
    border-bottom-color:rgb(228, 243, 13); 
}
.header {
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    background-color: rgba(219, 204, 172, 0.911);
}

.grosIcone{
    font-size:50px;
    display:flex;
    justify-content: center;
}
.notearea{
    font-family: 'Share Tech Mono', monospace; 
}
body
{
    background-color: rgba(248, 237, 213, 0.774);
}
.hidden{
    display:none;
}
i:hover{
    cursor:pointer;
}

.jumbotron.header{
    margin-bottom:unset;
}
@media (max-width:768px){
    .grosIcone{
        font-size:50px;
        align-content: center;
        }
        .engros{
            font-size: 50px;
            text-align:center;
            font-family: 'Press Start 2P',cursive;
            color:rgb(228, 243, 13);
            background-color: rgb(11, 53, 18);
        
        }
        .hour,.minute,.second{
            display:inline;
            border-bottom-style: dashed;
            border-bottom-color:rgb(131, 131, 139);
        }
        
        .selected{
            border-bottom-color:rgb(228, 243, 13);; 
        }
        .header {
            text-align: center;
            font-family: 'Share Tech Mono', monospace;
            background-color: rgba(219, 204, 172, 0.911);
        }
        
        .grosIcone{
            font-size:50px;
            display:flex;
            justify-content: center;
        }
        .notearea{
            font-family: 'Share Tech Mono', monospace; 
        }
        body
        {
            background-color: rgba(248, 237, 213, 0.774);
        }
        .hidden{
            display:none;
        }
        i:hover{
            cursor:pointer;
        }
        
        .jumbotron.header{
            margin-bottom:unset;
        }
        .sticky{
            position: fixed;
            top: 0;
            width: 100%;
            opacity: 100%;
            
        }
        @media (min-width:320px) and (max-width:580px){
            .grosIcone{
                font-size:38px;
                align-content: center;
            }
            @media (min-width:400px){
            .row{
                margin-left:6%;
                margin-right:6%;
            }
        }
    }
        @media (max-width:320px){
            .grosIcone{
                font-size:30px;
                align-content: center;
            }
        
            .row .col-sm{
                width:unset!important;
                padding-left:25px!important;
                padding-right:25px!important;
            }
        
        }
    

    .row .col-sm{
        width:unset!important;
        padding-left:25px!important;
        padding-right:25px!important;
    }
}